.station-page {
  padding: 32px 24px;
  // background: linear-gradient(180deg, rgba(80, 56, 160, 0.8) 0%, rgba(23, 23, 23, 1) 40%);
  min-height: 100vh;
  border-radius: 8px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.2) 100%);
    pointer-events: none;
  }

  .station-header,
  .station-controls,
  .station-table-header,
  .station-table-body {
    position: relative;
    z-index: 1;
  }

  .station-header {
    display: flex;
    gap: 18px;
    align-items: flex-end;
    margin-bottom: 10px;
    width: 100%;

    &__cover {
      width: clamp(180px, 25%, 220px);
      flex-shrink: 0;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &-img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
        flex-shrink: 0;
      }
    }

    &__icon {
      color: white;
      font-size: 64px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
    }

    &__type {
      font-size: 12px;
      margin-top: 10px;
      font-weight: 300;
      color: #fff;
      margin-left: 2px;
    }

    &__title {
      font-size: clamp(2rem, 8vw, 8rem);
      font-weight: 700;
      line-height: 1.13;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      color: #fff;
      margin: 0;
      width: 100%;
      min-width: 0;
      flex-grow: 1;
      display: block;
    }

    @media (max-width: $breakpoint-md) {
      .station-header {
        &__title {
          font-size: clamp(2rem, 7vw, 7rem);
        }
      }
    }

    @media (max-width: $breakpoint-sm) {
      .station-header {
        &__title {
          font-size: clamp(1.5rem, 6vw, 6rem);
        }
      }
    }

    &__description {
      color: $text-secondary;
      font-size: 16px;
      margin-bottom: 5px;
      margin-left: 2px;
    }

    &__meta {
      display: flex;
      align-items: center;
      gap: 4px;
      color: #fff;
      opacity: 0.7;
    }

    &__owner {
      font-size: 14px;
      font-weight: 700;
      color: $text-primary;
    }

    &__songs-count {
      font-size: 14px;
      color: $text-secondary;

      &::before {
        content: '•';
        margin: 0 4px;
      }
    }
  }

  .station-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 12px 0;

    &__left {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__right {
      margin-left: auto;
    }

    &__play {
      width: 56px;
      height: 56px;
      margin-left: 1px;
      border-radius: 50%;
      background-color: $primary-color;
      border: none;
      color: $background-black;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.2s, background-color 0.2s;

      &:hover {
        transform: scale(1.04);
        background-color: #1fdf64;
      }
    }

    &__play-icon {
      font-size: 24px;
      margin-left: 4px;
    }

    &__add {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: none;
      border: none;
      color: $text-secondary;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s;
      padding: 0;
      line-height: 1;

      &:hover {
        color: #fff;
        transform: scale(1.04);
      }
    }

    .list-icon {
      color: $text-secondary;
      width: 32px;

      & svg {
        width: 32px;
      }

      &:hover {
        transform: scale(1.04);
        color: $text-primary;
      }
    }

    &__list {
      color: $text-secondary;
      background: none;
      border: none;
      font-size: 14px;
      cursor: pointer;
      padding: 8px;
      transition: color 0.2s;

      &:hover {
        color: #fff;
      }
    }
  }

  .station-table-header {
    display: grid;
    grid-template-columns: 34px 3fr 3fr 2fr auto;
    padding: 0 16px;
    height: 36px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #a7a7a7;
    font-size: 13px;
    font-weight: 500;
    align-items: center;

    &__number,
    &__title,
    &__album,
    &__date,
    &__duration {
      display: flex;
      align-items: center;
    }

    &__date {
      @media (max-width: $breakpoint-xl) {
        display: none;
      }
    }

    &__duration {
      justify-content: flex-end;
      min-width: 73.5px;
      margin-inline-end: 20px;

      svg {
        margin-inline-end: 6px;
      }
    }
  }

  .station-song-row {
    display: grid;
    grid-template-columns: 34px 3fr 3fr 2fr auto;
    align-items: center;
    position: relative;
    color: #b3b3b3;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 4px;
    margin-bottom: 12px;

    &.is-dragging {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      .station-song-row__title,
      .station-song-row__album,
      .station-song-row__date,
      .station-song-row__duration {
        opacity: 0.8;
      }
    }
    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
    &:focus {
      outline: none;
    }

    button {
      background: 0;
    }

    &.current-song {
      .station-song-row__number {
        color: $primary-color;
      }

      .song-title {
        color: $primary-color;
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);

      .station-song-row__number {
        display: none;
      }

      .station-song-row__icon.playing {
        display: none;
      }

      .station-song-row__playPause {
        padding-top: 6px;
        display: block;
      }

      .like-song {
        opacity: 1;
      }

      .list-icon {
        display: block;
      }
    }

    &__icon.playing {
      $iconSize: 14px;
      height: $iconSize;
      width: $iconSize;
      overflow: hidden;

      .bar {
        display: inline-block;
        height: 100%;
        width: 2.8px;
        margin: 0px 0.7px;
        background-color: $primary-color;

        $animationLength: 1.4s;
        animation: wobble $animationLength infinite;
        animation-timing-function: cubic-bezier(0.4, 0.2, 0.6, 0.8);
        animation-fill-mode: both;

        &:nth-child(3) {
          $delay: -1 * $animationLength/4;
          animation-delay: $delay;
        }

        &:nth-child(2) {
          $delay: -2 * $animationLength/4;
          animation-delay: $delay;
        }

        &:nth-child(4) {
          $delay: -3 * $animationLength / 4;
          animation-delay: $delay;
        }
      }
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
      }

      .song-title {
        color: #fff;
        font-weight: $font-book;
        margin-bottom: 4px;
      }

      .song-artist {
        font-size: 12px;
        font-weight: 400;
      }
    }

    &__album {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: $font-book;
      color: $text-secondary;
      padding-inline-end: 1rem;
    }

    &__date {
      white-space: nowrap;
      color: $text-secondary;

      @media (max-width: $breakpoint-xl) {
        display: none;
      }
    }

    &__duration {
      display: flex;
      text-align: right;
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
      color: $text-secondary;
      margin-inline-end: 20px;

      .like-song {
        height: 32px;
        padding: 4px 12px 0px 0px;
        margin: 0;
        color: $text-secondary;
        opacity: 0;

        cursor: pointer;
        transition-duration: 33ms;
        transition-property: background-color, border-color, color, box-shadow, filter, transform;
        transform: translate3d(0px, 0px, 0px);

        &.liked {
          color: $primary-color;
          opacity: 1;
        }

        &:hover {
          transform: scale(1.04);
        }

        &:not(.liked):hover {
          color: $text-primary;
        }
      }
    }

    &__playPause {
      display: none;

      img {
        filter: brightness(0) invert(1);
      }
    }

    .list-icon {
      display: none;
      position: absolute;
      right: -15px;
      top: 9px;
      color: $text-secondary;

      &:hover {
        transform: scale(1.04);
        color: $text-primary;
      }
    }
  }

  .station-table-body {
    margin-top: 16px;
  }

  @keyframes wobble {
    0% {
      transform: translatey(0%); //top
      //margin-top:0px;
    }

    25% {
      transform: translatey(70%);
    }

    50% {
      transform: translatey(90%); //bottom
    }

    75% {
      transform: translatey(50%);
    }

    100% {
      transform: translatey(0%);
    }
  }
}
