.now-playing {
  height: calc(100vh - 152px);
  background-color: $background-dark;
  color: $text-primary;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 8px 16px 8px 8px;

  &__header {
    padding: 0;
    margin-block-end: 24px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 1rem;
      font-weight: 700;
      margin: 0;
      padding-inline-start: 8px;

    }
  }

  &__close {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-secondary;
    border-radius: 50%;
    background: none;

    &:hover {
      color: $text-primary;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__current {
    margin-block-end: 24px;
    padding-block: 8px;

    h3 {
      font-size: .9rem;
      color: $text-primary;
      margin: 0 0 12px;
      letter-spacing: .7px;
      padding-inline-start: 8px;

    }
  }

  &__song-info {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-inline: 8px;
  }

  &__cover {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    object-fit: cover;
  }

  &__details {
    flex: 1;
    min-width: 0;
  }

  &__name {
    display: block;
    font-size: 0.875rem;
    font-weight: $font-book;
    color: $primary-color;
    @include text-truncate;
  }

  &__artist {
    display: block;
    font-size: 0.75rem;
    color: $text-secondary;
    @include text-truncate;

    a {
      color: inherit;
      &:hover {
        color: $text-primary;
        text-decoration: underline;
      }
    }
  }
  &__play-button {
    opacity: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    // background-color: $primary-color;
    background: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
      transform: scale(1.04);
    }
  }

  &__queue {
    flex: 1;
    overflow-y: auto;

    h3 {
      font-size: .9rem;
      color: $text-primary;
      margin: 0 0 12px;
      letter-spacing: .7px;
      padding-inline-start: 8px;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 4px;
    }
  }

  .queue-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &__cover-container {
      position: relative;
      width: 48px;
      height: 48px;
      flex-shrink: 0;

      &:hover {
        .queue-item__cover {
          filter: brightness(0.7);
        }

        .queue-item__cover-play {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &__cover {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: cover;
    }

    &__details {
      flex: 1;
      min-width: 0;
    }

    &__name {
      display: block;
      font-size: 0.875rem;
      color: $text-primary;
      @include text-truncate;
    }

    &__artist {
      display: block;
      font-size: 0.75rem;
      color: $text-secondary;
      @include text-truncate;

      a {
        color: inherit;
        &:hover {
          color: $text-primary;
          text-decoration: underline;
        }
      }
    }
    &__cover-play {
      position: absolute;
      top: -5px;
      left: -5px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: translateY(5px);
      background: none;
      width: 100%;
      height: 100%;

      svg {
        width: 16px;
        height: 16px;
        color: $text-primary;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
      }
    }
  }
}
