.player {
  height: 72px;

  display: grid;
  grid-template-columns: minmax(180px, 1fr) 2fr minmax(180px, 1fr);
  align-items: center;
  gap: 16px;

  background-color: $background-black;
  padding: 0 0 0 16px;

  button {
    background: none;
    border: none;
    color: $text-secondary;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0;
    margin: 0;

    &:hover {
      color: $text-primary;
    }

    &.play {
      background: $text-primary;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1.05);
      }

      &.is-playing {
        background: $primary-color;
      }
    }

    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
      flex-shrink: 0;
      filter: brightness(0) invert(0.7);
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0) invert(1);
      }
    }
  }

  & .song-info {
    display: flex;
    align-items: center;

    gap: 12px;

    & img {
      width: 56px;
      height: 56px;
      background: $hover-color;
      border-radius: 4px;
      overflow: hidden;
      object-fit: cover;
    }

    & img:last-child {
      width: 16px;
      height: 16px;
      color: $hover-color;
      background: none;
    }

    &-details {
      display: flex;
      flex-direction: column;
    }

    &-name {
      color: $text-primary;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }

    &-artist {
      color: $text-secondary;
      font-size: 12px;
    }
  }

  &-controls {

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      flex-flow: row nowrap;
      width: 100%;
      margin-bottom: 8px;

    }

    .progress {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      height: 12px;
      max-width: 600px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      &-time {
        color: $text-secondary;
        font-size: rem(11px);
        min-width: 40px;
        text-align: right;
        border: 0;
        padding: 0;
        margin: 0;
      }

      &-time-right {
        text-align: left;

      }

      &-bar {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #404040;
        position: relative;
        cursor: pointer;

        &:hover &-fill {
          background-color: #1db954;
        }
      }

      &-bar-fill {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $text-primary;
        border-radius: 2px;
        transition: width 0.1s ease-out;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 180px;
    flex-grow: 1;

    button{
      width: 32px;
      height: 32px;
    }

    .volume {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: flex-end;

      &-slider {
        width: 100px;
        height: 4px;
        background: $text-secondary;
        border-radius: 2px;
        position: relative;
        cursor: pointer;

        &:hover &-fill {
          background-color: $primary-color;
        }
      }

      &-slider-fill {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $text-primary;
        border-radius: 2px;
      }
    }
  }
}