.player {
  height: 72px;
  width: calc(100vw - 16px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: $background-black;

  button {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    color: $text-secondary;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0;
    margin: 0;

    &:hover {
      color: $text-primary;
    }

    &.small {
      width: 16px;
      padding: 8px;
    }

    &.play {
      background: $text-primary;
      color: black;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: 8px;

      &:hover {
        transform: scale(1.05);
      }

      &.is-playing {
        background: $primary-color;
      }
    }

    img:not(.play img) {
      width: 16px;
      height: 16px;
      object-fit: contain;
      flex-shrink: 0;
      filter: brightness(0) invert(0.7);
      transition: filter 0.2s;
      margin: auto;

      &:hover {
        filter: brightness(0) invert(1);
      }
    }
  }

  & .song-info {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-width: 277px;
    padding-inline-start: 8px;

    img.cover-img {
      width: 56px;
      height: 56px;
      background: $hover-color;
      border-radius: 4px;
      overflow: hidden;
      object-fit: cover;
      margin: 0 8px 5px 0;
    }

    & img:last-child {
      width: 16px;
      height: 16px;
      color: $hover-color;
      background: none;
    }

    &-details {
      display: flex;
      flex-direction: column;
      margin-inline: 8px;

      p {
        font-weight: 400;
        margin: 0;
      }
    }

    &-name {
      color: $text-primary;
      font-size: 14px;
    }

    &-artist {
      color: $text-secondary;
      font-size: 12px;
      margin: 0;
    }
  }

  &-controls {
    flex: 1;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      flex-flow: row nowrap;
      width: 100%;
      margin-bottom: 8px;

    }

    .progress {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      height: 12px;
      min-width: 313px;
      max-width: 660px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      &-time {
        color: $text-secondary;
        font-size: rem(11px);
        min-width: 40px;
        text-align: right;
        border: 0;
        padding: 0;
        margin: 0;

        &.right {
          text-align: left;

        }
      }


      &-bar {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #404040;
        position: relative;
        cursor: pointer;

        &-btn {
          display: none;
          position: absolute;
          top: -100%;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: white;

        }

      }

      &-bar-fill {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $text-primary;
        border-radius: 2px;
        transition: width 0.1s ease-out;
      }

      &:hover {
        .progress-bar-fill {
          background: $primary-color;
        }

        .progress-bar-btn {
          display: block;
        }
      }
    }
  }

  &-buttons {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    align-items: center;
    min-width: 245px;

    .volume {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      max-width: 125px;
      min-width: 40px;
      transition: all 0.2s ease;
      margin-inline-end: 8px;

      &-slider {
        min-width: 20px;
        max-width: 93px;
        height: 4px;
        flex-grow: 1;
        background: $text-secondary;
        border-radius: 2px;
        position: relative;
        cursor: pointer;

        &:hover {
          .volume-slider-fill {
            background-color: $primary-color;
          }

          .volume-slider-btn {
            display: block;
          }
        }
      }

      &-slider-fill {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $text-primary;
        border-radius: 2px;
      }

      &-slider-btn {
        display: none;
        position: absolute;
        top: -100%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
}