.quick-access {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    margin-bottom: 2rem;
    padding: 20px 8px 0px 8px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 0.3rem;
    overflow: hidden;
    transition: background-color 0.3s ease;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (min-width: $breakpoint-xl) {
      height: 64px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);

      .quick-access__play {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__image {
    height: 48px;
    width: 48px;
    object-fit: cover;
    @media (min-width: $breakpoint-xl) {
      height: 64px;
      width: 64px;
    }
  }

  &__content {
    flex: 1;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
  }

  &__title {
    font-weight: 400;
    font-size: 0.875rem;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__play {
    position: absolute;
    right: 0.1rem;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.1s ease;
    background-color: #1db954;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: 0;

    &:hover {
      transform: scale(1.05);
      background-color: #1ed760;
    }
    svg {
      width: 1rem;
      height: 1rem;
      color: #000;
      fill: #000;
    }
  }
}
