.user-msg {
    position: absolute;
    bottom: 20%;
    left: 50%;     
    transform: translateX(-50%); 
    z-index: 2;
    display: flex;
    align-items: center;
    padding: .7em;
    background-color: $text-primary;
    border-radius: 6px;
    font-size: .9em;
    opacity: 0;
    transition: 600ms;
}

.user-msg.visible {
    opacity: 1;
    translate: 0;
}

.user-msg button {
    background-color: $gray1;
    padding: 1px 6px;
    border:0;
    border-radius: 50%;
    color: $gray4;
}


.user-msg.error {
    background-color: rgb(255, 178, 178);
}
