button {
  border: 0;
  color: whitesmoke;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-family: Spotify-mix, sans-serif;
}

form > * {
  display: block;
  // width: 200px;
  margin: 10px 0px;
  font-family: inherit;
}

input {
  font-family: Spotify-mix, sans-serif;
}

.btn-link {
  border: 0;
  background-color: transparent;
  // text-decoration: underline;
  transition: 0.1s;
}

.btn-link:hover {
  background-color: $clr1;
}
