// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

$primary-color: #1ed760; // Spotify green
$background-black: black;
$background-dark: #121212;
$background-darker: #000000;
$background-light: #282828;
$text-primary: #ffffff;
$text-secondary: #b3b3b3;
$text-subdued: #7c7c7c;
$button-border: #818181;
$hover-color: #282828;
$icon-background: #1f1f1f;

$slider-background: hsla(0, 0%, 100%, .3);

// Spotify commonly uses these weights:
$font-book: 400; // Regular text
$font-circular: 500; // Buttons, tabs
$font-basel: 700; // Headers, titles

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$border-radius: 8px;
$transition-speed: 0.3s;
